- if @uid
  %article
    %label
      = t('intro.has_unit')
      %select{data: {mark: 'wstm unit'}}
        %option{value: 'null'}= t('select.option',data: 'Unitatea')
        - @firm.units.asc(:slug).each do |unit|
          %option{value: unit.id,selected: unit.id.to_s == @uid}= unit.name[1]
    %hr
-else
  - xhr_info('info',t('intro.no_unit'))
  %article
    %label
      = t('intro.has_unit')
      %select{data: {mark: 'wstm unit'}}
        %option{value: 'null'}= t('select.option',data: 'Unitatea')
        - @firm.units.asc(:slug).each do |unit|
          %option{value: unit.id}= unit.name[1]
    %hr
  %article.ta-ce
    - button 'cancel'
