:ruby
  daily,firm,freight,p03,inv_supplr,inv_client,stats_supplr,stats_client = locals[:daily],locals[:firm],locals[:freight],locals[:p03],locals[:inv_supplr],locals[:inv_client],locals[:stats_supplr],locals[:stats_client]
  uid    = @current_user.unit_id || params[:uid]
  supplr = params[:supplr].nil? ? nil : Wstm::PartnerFirm.find(params[:supplr])
  client = params[:client].nil? ? nil : Wstm::PartnerFirm.find(params[:client])
  y = params[:p_y].nil? ? @today.year  : params[:p_y].to_i
  m = params[:p_m].nil? ? @today.month : params[:p_m].to_i
  d = params[:p_d].nil? ? 0            : params[:p_d].to_i

%table
  %tbody
    %tr{class: 'pdb-05'}
      %td
        %select{data: {mark: 'param'},name: 'p_y'}
          - (2011..@today.year).each do |year|
            %option{value: year, selected: y == year}= year
        %select{data: {mark: 'param'},name: 'p_m'}
          %option{value: 0, selected: m == 0}= 'Tot anul'
          - t('month')[1..12].each_with_index do |month,i|
            %option{value: i + 1, selected: m == i + 1}= month
        - if daily
          %select{data: {mark: 'param'},name: 'p_d',style: 'font-family:Monospace'}
            - (0..Time.days_in_month(m,y)).each do |day|
              %option{value: day, selected: d == day}= l(Date.new(y,m,day), format: "%Y-%m-%d %a") rescue 'Stocuri zilnice'
        - if firm
          - if @current_user.unit_id
            %span= l(@today,format: :trst)
          - else
            %select{data: {mark: 'param'},name: 'uid'}
              %option{value: 'null'} Toate unităţile
              - firm.units.asc(:slug).each do |pos|
                %option{value: pos.id, selected: uid.to_s == pos.id.to_s}= pos.name[1]
        - if freight
          %select{data: {mark: 'param'},name: 'fid'}
            %option{value: 'null'}= t('select.freight_all')
            - freight.unit.freights.asc(:id_stats).each do |f|
              %option{value: f.id, selected: freight.id.to_s == f.id.to_s}= f.name
          %input{data: {mark: 'param'},name: 'uid', type: 'hidden', value: freight.unit_id}
        - if p03
          %select{data: {mark: 'param'},name:'p03'}
            - mat(@object,'p03_select')[p03].each do |o|
              %option{value: o[0], selected: o[0] == params[:p03]}= o[1]
        - if inv_supplr
          %select{data: {mark: 'param'},name: 'supplr'}
            %option{value: 0}= 'Alegeți furnizorul!'
            - if m == 0
              - if p03
                - Wstm::PartnerFirm.asc(:name).find(Wstm::Grn.yearly(y).nonin.charged(false).by_p03(params[:p03]).pluck(:supplr_id).uniq).each do |f|
                  %option{value: f.id, selected: supplr.try(:id) == f.id}= f.name[0]
              - else
                - Wstm::PartnerFirm.asc(:name).find(Wstm::Grn.yearly(y).nonin.charged(false).pluck(:supplr_id).uniq).each do |f|
                  %option{value: f.id, selected: supplr.try(:id) == f.id}= f.name[0]
            - else
              - if p03
                - Wstm::PartnerFirm.asc(:name).find(Wstm::Grn.monthly(y,m).nonin.charged(false).by_p03(params[:p03]).pluck(:supplr_id).uniq).each do |f|
                  %option{value: f.id, selected: supplr.try(:id) == f.id}= f.name[0]
              - else
                - Wstm::PartnerFirm.asc(:name).find(Wstm::Grn.monthly(y,m).nonin.charged(false).pluck(:supplr_id).uniq).each do |f|
                  %option{value: f.id, selected: supplr.try(:id) == f.id}= f.name[0]
        - if inv_client
          %select{data: {mark: 'param'},name: 'client'}
            %option{value: 0}= 'Alegeți clientul!'
            - if m == 0
              - if p03
                - Wstm::PartnerFirm.asc(:name).find(Wstm::DeliveryNote.yearly(y).nonin.charged(false).by_p03(params[:p03]).pluck(:client_id).uniq).each do |f|
                  %option{value: f.id, selected: client.try(:id) == f.id}= f.name[0]
              - else
                - Wstm::PartnerFirm.asc(:name).find(Wstm::DeliveryNote.yearly(y).nonin.charged(false).pluck(:client_id).uniq).each do |f|
                  %option{value: f.id, selected: client.try(:id) == f.id}= f.name[0]
            - else
              - if p03
                - Wstm::PartnerFirm.asc(:name).find(Wstm::DeliveryNote.monthly(y,m).nonin.charged(false).by_p03(params[:p03]).pluck(:client_id).uniq).each do |f|
                  %option{value: f.id, selected: client.try(:id) == f.id}= f.name[0]
              - else
                - Wstm::PartnerFirm.asc(:name).find(Wstm::DeliveryNote.monthly(y,m).nonin.charged(false).pluck(:client_id).uniq).each do |f|
                  %option{value: f.id, selected: client.try(:id) == f.id}= f.name[0]
        - if stats_supplr
          %select{data: {mark: 'param'},name: 'supplr'}
            %option{value: 0}= 'Alegeți furnizorul!'
            - if m == 0
              - if p03
                - Wstm::PartnerFirm.asc(:name).find(Wstm::Grn.yearly(y).nonin.by_p03(params[:p03]).pluck(:supplr_id).uniq).each do |f|
                  %option{value: f.id, selected: supplr.try(:id) == f.id}= f.name[0]
              - else
                - Wstm::PartnerFirm.asc(:name).find(Wstm::Grn.yearly(y).nonin.pluck(:supplr_id).uniq).each do |f|
                  %option{value: f.id, selected: supplr.try(:id) == f.id}= f.name[0]
            - else
              - if p03
                - Wstm::PartnerFirm.asc(:name).find(Wstm::Grn.monthly(y,m).nonin.by_p03(params[:p03]).pluck(:supplr_id).uniq).each do |f|
                  %option{value: f.id, selected: supplr.try(:id) == f.id}= f.name[0]
              - else
                - Wstm::PartnerFirm.asc(:name).find(Wstm::Grn.monthly(y,m).nonin.pluck(:supplr_id).uniq).each do |f|
                  %option{value: f.id, selected: supplr.try(:id) == f.id}= f.name[0]
        - if stats_client
          %select{data: {mark: 'param'},name: 'client'}
            %option{value: 0}= 'Alegeți clientul!'
            - if m == 0
              - if p03
                - Wstm::PartnerFirm.asc(:name).find(Wstm::DeliveryNote.yearly(y).nonin.by_p03(params[:p03]).pluck(:client_id).uniq).each do |f|
                  %option{value: f.id, selected: client.try(:id) == f.id}= f.name[0]
              - else
                - Wstm::PartnerFirm.asc(:name).find(Wstm::DeliveryNote.yearly(y).nonin.pluck(:client_id).uniq).each do |f|
                  %option{value: f.id, selected: client.try(:id) == f.id}= f.name[0]
            - else
              - if p03
                - Wstm::PartnerFirm.asc(:name).find(Wstm::DeliveryNote.monthly(y,m).nonin.by_p03(params[:p03]).pluck(:client_id).uniq).each do |f|
                  %option{value: f.id, selected: client.try(:id) == f.id}= f.name[0]
              - else
                - Wstm::PartnerFirm.asc(:name).find(Wstm::DeliveryNote.monthly(y,m).nonin.pluck(:client_id).uniq).each do |f|
                  %option{value: f.id, selected: client.try(:id) == f.id}= f.name[0]
