:ruby
  colspan, daily, firm, freight, p03 = locals[:colspan], locals[:daily], locals[:firm], locals[:freight], locals[:p03]
  uid = @current_user.unit_id || params[:uid]
  y = params[:p_y].nil? ? @today.year  : params[:p_y].to_i
  m = params[:p_m].nil? ? @today.month : params[:p_m].to_i
  d = params[:p_d].nil? ? 0            : params[:p_d].to_i
%tr.pdb-05
  %td{colspan: colspan}
    %select.param{name: 'p_y'}
      - (2011..@today.year).each do |year|
        %option{value: year, selected: y == year}= year
    %select.param{name: 'p_m'}
      - t('month')[1..12].each_with_index do |month,i|
        %option{value: i + 1, selected: m == i + 1}= month
    - if daily
      %select.param{name: 'p_d',style: 'font-family:Courier'}
        - (0..Time.days_in_month(m,y)).each do |day|
          %option{value: day, selected: d == day}= l(Date.new(y,m,day), format: "%a, %Y-%m-%d") rescue 'Intrări zilnice'
    - if firm
      - if @current_user.unit_id
        %span= l(@today,format: :trst)
      - else
        %select.param{name: 'uid'}
          %option{value: 'null'} Toate unităţile
          - firm.units.asc(:slug).each do |pos|
            %option{value: pos.id, selected: uid.to_s == pos.id.to_s}= pos.name[1]
    - if freight
      %select.param{name: 'fid'}
        %option{value: 'null'}= t('select.freight_all')
        - freight.unit.freights.asc(:id_stats).each do |f|
          %option{value: f.id, selected: freight.id.to_s == f.id.to_s}= f.name
      %input.param{name: 'uid', type: 'hidden', value: freight.unit_id}
    - if p03
      %select.param{name:'p03'}
        - mat(@object,'p03_select')[p03].each do |o|
          %option{value: o[0], selected: o[0] == params[:p03]}= o[1]
