%tbody{id: 'tabs-freights',data: {title: mat(@object,'tabs_freights')}}
  %tr
    %td
      %table.w-100pr
        - if grns
          %tbody.inner
            %tr
              - mat(@object,'table_header_grn').each do |label|
                %td= label
            - data = Wstm::Grn.where(:id.in => grns).sum_freights_grn; data.sort.each_with_index do |s,i|
              - o = @object.freights.new
              %tr.freight
                %td
                  %span.stats= s[1][0]
                  - input_for o, 'name',      {type: 'hidden',nested: 'doc_inv',index: i,value: s[1][0]}
                  - input_for o, 'um',        {type: 'hidden',nested: 'doc_inv',index: i,value: 'kg'}
                  - input_for o, 'id_stats',  {type: 'hidden',nested: 'doc_inv',index: i,value: s[1][1]}
                %td.ta-ce.w-4rem
                  %span.um kg
                %td.ta-ri.w-8rem
                  %span.pu= "%.2f" % s[1][2]
                  - input_for o,  'pu',       {type: 'hidden',nested: 'doc_inv',index: i,value: s[1][2]}
                %td.ta-ri.w-8rem
                  %span.qu= "%.2f" % s[1][3]
                  - input_for o,  'qu',       {type: 'hidden',nested: 'doc_inv',index: i,value: s[1][3]}
                %td.ta-ri.w-8rem
                  %span.val= "%.2f" % s[1][4]
            %tr.total
              %td{:colspan => "3"}= "Total"
              %td
                %span= "%.2f" % data.values.sum{|r| r[3]}
              %td
                %span= "%.2f" % data.values.sum{|r| r[4]}
                - input_for @object, 'sum_100', {type: 'hidden',value: data.values.sum{|r| r[4]}}
        -else
          %tbody.inner
            %tr
              - mat(@object,'table_header').each do |label|
                %td= label
            - data = Wstm::DeliveryNote.where(:id.in => dlns).sum_freights_inv; data.sort.each_with_index do |s,i|
              - o = @object.freights.new
              %tr.freight
                %td
                  %span.stats= s[1][0]
                  - input_for o, 'name',      {type: 'hidden',nested: 'doc_inv',index: i,value: s[1][0]}
                  - input_for o, 'um',        {type: 'hidden',nested: 'doc_inv',index: i,value: 'kg'}
                  - input_for o, 'id_stats',  {type: 'hidden',nested: 'doc_inv',index: i,value: s[1][1]}
                %td.ta-ce.w-4rem
                  %span.um kg
                %td.ta-ri.w-8rem
                  %span.qu= "%.2f" % s[1][2]
                  - input_for o,  'qu',       {type: 'hidden',nested: 'doc_inv',index: i,value: s[1][2]}
                %td.ta-ri.w-8rem
                  %span= "%.2f" % s[1][3]
                %td.ta-ce.w-8rem
                  - if s[1][4] == 0.0
                    - input_for o,  'pu',     {style: 'qu ta-ri w-6rem',nested: 'doc_inv',index: i,value: "%.4f" % s[1][4]}
                  -else
                    %span.ta-ri= "%.4f" % s[1][4]
                    - input_for o,  'pu',     {type: 'hidden',nested: 'doc_inv',index: i,value: s[1][4]}
                %td
                  %span.val_invoice= "%.2f" % s[1][5]
            %tr.total
              %td{:colspan => "2"}= "Total"
              %td
                %span= "%.2f" % data.values.sum{|r| r[2]}
              %td
                %span= "%.2f" % data.values.sum{|r| r[3]}
              %td
                %span
              %td
                %span.sum_100= "%.2f" % data.values.sum{|r| r[5]}
                - input_for @object, 'sum_100', {type: 'hidden',value: data.values.sum{|r| r[5]}}
  %tr
    %td
%tbody{id: 'tabs-payments',data: {title: mat(@object,'tabs_payments')}}
  %tr.pdb-05
    %td
      - label_for @object, 'payed'
      %input.true_ro{ type: 'radio',name: "[#{@path}][payed]",checked:  @object.payed,value: 'true'}
      %input.false_ro{type: 'radio',name: "[#{@path}][payed]",checked: !@object.payed,value: 'false'}
      %span.stats= mat(@object,'deadl')
      - input_for @object, 'deadl', {style: 'ui-state-default ta-ce',value: (Date.today + 30.days).to_s}
  - o = @object.pyms.new
  %tr
    %td
      - input_for o, 'id_date',     {nested: 'doc_inv',index: 0,value: 'strip',placeholder: Date.today.to_s,style: 'ui-state-default ta-ce'}
      - input_for o, 'expl',        {nested: 'doc_inv',index: 0,value: 'strip',placeholder: mat(@object,'pyms_expl')}
      - input_for o, 'val',         {nested: 'doc_inv',index: 0,value: 'strip',placeholder: mat(@object,'pyms_val'),style: 'ui-state-default ta-ce'}
      - input_for o, 'id_intern',   {type: 'hidden',nested: 'doc_inv',index: 0,value: 'true'}

