- if params[:grn_ary]
  :ruby
    y       = params[:p_y].nil? ? @today.year  : params[:p_y].to_i
    m       = params[:p_m].nil? ? @today.month : params[:p_m].to_i
    supplr  = Wstm::PartnerFirm.find(params[:supplr]) if params[:supplr]
    grns  = supplr.try(:grns_supplr)
    grns  = (m == 0 ? grns.yearly(y).charged(false).where(doc_type: 'DN') : grns.monthly(y,m).charged(false).where(doc_type: 'DN')) if grns
    grns  = (params[:p03] == 'null' ? grns : grns.by_p03(params[:p03])) if grns
    doc_ary = params[:doc_ary].try(:split, ',')
    grn_ary = doc_ary
  - xhr_hidden_data({dialog: 'filter',title_data: mat(@object,'model_name_grn'),oid: 'null',js_ext: 'desk_invoice'})
  - xhr_info('info',t('intro.filter.desk_invoice.grn'))
  = haml :'wstm/shared/_select_params', locals: {p03: (0..3),inv_supplr: true}
  %form{action: "/sys/#{@path}", method: 'get'}
  %input{type: 'hidden',name: 'doc_ary', value: params[:doc_ary],data: {mark: 'param doc_ary'}}
  - unless grns.try(:count) == 0 || grns.try(:count).nil?
    %table{class: 'w-100pr'}
      %thead
        %tr{class: 'pdb-05'}
          %td
            %span= supplr.name[2] + ' ( ' + grns.count.to_s + ' )'
            %button{type: 'button',data: {action: "toggle_checkbox", icon: 'fa fa-check-circle'}}= 'Toate'
        %tr{class: 'pdb-05'}
          %td
            %span
              - l = grns.pluck(:doc_name).max_by(&:length).length; grns.each_with_index do |grn,i|
                %label{class: 'doc-name-list',style: "background-color:#{grn.charged? ? '#e6e6e6' : '#ff9999'};min-width: #{l}rem",title: "#{grn.freights_list.join("\n")}"}
                  %input{id:grn.id,type: 'checkbox',checked: doc_ary.include?(grn.id.to_s),data: {mark: 'doc_ary'}}
                  = grn.doc_name.rjust(l,"\u00a0")
      %tbody
        - unless doc_ary.empty?
          %tr
            %td
              %table{class: 'w-80pr'}
                %tbody{class: 'inner'}
                  - tr_header_for mat(@object,'table_header_grn')
                  - data = grns.where(:id.in => doc_ary).sum_freights_grn; data.sort.each do |s|
                    %tr
                      - td_value_for s, 'xxx',   {tag: {class: 'strip',value: s[1][0]}}
                      - td_value_for s, 'xxx',   {tag: {class: 'strip',value: 'kg'}}
                      - td_value_for s, 'xxx',   {tag: {class: 'strip ta-ri dsp-ib',value: s[1][2]}}
                      - td_value_for s, 'xxx',   {tag: {class: 'strip ta-ri dsp-ib',value: s[1][3]}}
                      - td_value_for s, 'xxx',   {tag: {class: 'strip ta-ri dsp-ib',value: s[1][4]}}
                  %tr
                    - td_value_for @object,'xxx',  {td: {colspan: 3},tag: {class: 'strip ta-ce dsp-ib st',value: 'Total'}}
                    - td_value_for @object,'xxx',  {tag: {class: 'strip ta-ri dsp-ib st',value: "%.2f" % data.values.sum{|r| r[3]}}}
                    - td_value_for @object,'xxx',  {tag: {class: 'strip ta-ri dsp-ib st',value: "%.2f" % data.values.sum{|r| r[4]}}}
      %tfoot{class: 'ta-ce'}
        - tr_buttonset ['create','cancel'], {tr: {class: 'ta-ce'}, create: {text: t('button.create') + " Factură!"}}
- elsif params[:dln_ary]
  :ruby
    y       = params[:p_y].nil? ? @today.year  : params[:p_y].to_i
    m       = params[:p_m].nil? ? @today.month : params[:p_m].to_i
    client  = Wstm::PartnerFirm.find(params[:client]) if params[:client]
    dlns  = client.try(:dlns_client)
    dlns  = (m == 0 ? dlns.yearly(y).charged(false) : dlns.monthly(y,m).charged(false)) if dlns
    dlns  = (params[:p03] == nil ? dlns : dlns.by_p03(params[:p03])) if dlns
    doc_ary = params[:doc_ary].try(:split, ',')
  - xhr_hidden_data({dialog: 'filter',oid: 'null',js_ext: 'desk_invoice'})
  - xhr_info('info',t('intro.filter.desk_invoice.main'))
  = haml :'wstm/shared/_select_params', locals: {p03: (0..3),inv_client: true}
  %form{action: "/sys/#{@path}", method: 'get'}
  %input{type: 'hidden',name: 'doc_ary', value: params[:doc_ary],data: {mark: 'param doc_ary'}}
  - unless dlns.try(:count) == 0 || dlns.try(:count).nil?
    %table{class: 'w-100pr'}
      %thead
        %tr{class: 'pdb-05'}
          %td
            %span= client.name[2] + ' ( ' + dlns.count.to_s + ' )'
            %button{type: 'button',data: {action: "toggle_checkbox", icon: 'fa fa-check-circle'}}= 'Toate'
        %tr{class: 'pdb-05'}
          %td
            %span
              - l = dlns.pluck(:doc_name).max_by(&:length).length; dlns.each_with_index do |dln,i|
                %label{class: 'doc-name-list',style: "background-color:#{dln.charged? ? '#e6e6e6' : '#ff9999'};min-width: #{l}rem",title: "#{dln.freights_list.join("\n")}"}
                  %input{id:dln.id,type: 'checkbox',checked: doc_ary.include?(dln.id.to_s),data: {mark: 'doc_ary'}}
                  = dln.doc_name.rjust(l,"\u00a0")
      %tbody
        - unless doc_ary.empty?
          %tr
            %td
              %table{class: 'w-80pr'}
                %tbody{class: 'inner'}
                  - tr_header_for mat(@object,'table_header')
                  - data = dlns.where(:id.in => doc_ary).sum_freights_inv; data.sort.each do |s|
                    %tr
                      - td_value_for s, 'xxx',  {tag: {class: 'strip',value: s[1][0]}}
                      - td_value_for s, 'xxx',  {tag: {class: 'strip',value: 'kg'}}
                      - td_value_for s, 'xxx',  {tag: {class: 'strip ta-ri dsp-ib',value: s[1][2]}}
                      - td_value_for s, 'xxx',  {tag: {class: 'strip ta-ri dsp-ib',value: s[1][3]}}
                      - td_value_for s, 'xxx',  {tag: {class: 'strip ta-ri dsp-ib',value: s[1][4]}}
                      - td_value_for s, 'xxx',  {tag: {class: 'strip ta-ri dsp-ib',value: s[1][5]}}
                  %tr.result
                    - td_value_for @object,'xxx',   {td: {colspan: 2},tag: {class: 'strip ta-ce dsp-ib st',value: 'Total'}}
                    - td_value_for @object,'xxx',   {tag: {class: 'strip ta-ri dsp-ib st',value: "%.2f" % data.values.sum{|r| r[2]}}}
                    - td_value_for @object,'xxx',   {tag: {class: 'strip ta-ri dsp-ib st',value: "%.2f" % data.values.sum{|r| r[3]}}}
                    %td
                    - td_value_for @object,'xxx',   {tag: {class: 'strip ta-ri dsp-ib st',value: "%.2f" % data.values.sum{|r| r[5]}}}
      %tfoot{class: 'ta-ce'}
        - tr_buttonset ['create','cancel'], {create: {text: t('button.create') + " Factură!"}}
- elsif params[:inv_ary] == 'payable'
  %span#hidden_data{data: {dialog: "filter",title_data:mat(@object,'title_data_payable'),model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_payment'}}
  %form{action: "/sys/#{@path}", method: 'get'}
    %table
      %thead
        %tr.pdb-05
          %td
            %detail.detail
              %i.fa.fa-info-circle.fa-lg.blue
              = t('intro.filter.not_ready')
      %tbody
      %tfoot
        - tr_buttonset ['create','cancel'], {create: {text: t('button.create') + " Factură!"}}
- elsif params[:inv_ary] == 'receivable'
  %span#hidden_data{data: {dialog: "filter",title_data:mat(@object,'title_data_receivable'),model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_payment'}}
  %form{action: "/sys/#{@path}", method: 'get'}
    %table
      %thead
        %tr.pdb-05
          %td
            %detail.detail
              %i.fa.fa-info-circle.fa-lg.blue
              = t('intro.filter.not_ready')
      %tbody
      %tfoot
        - tr_buttonset ['create','cancel'], {create: {text: t('button.create') + " Factură!"}}
- else
  %span#hidden_data{data: {dialog: "filter",model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_payment'}}
  %form{action: "/sys/#{@path}", method: 'get'}
    %table
      %thead
        %tr.pdb-05
          %td
            %detail.detail
              %i.fa.fa-info-circle.fa-lg.blue
              = t('intro.filter.not_ready')
      %tbody
      %tfoot
        - tr_buttonset ['create','cancel'], {create: {text: t('button.create') + " Factură!"}}
