%tbody#tabs-1{data: {title: mat(@object, :tab_title)}}
  - tr_input_for @object, 'name',       {guess: {order: 0}}
  - tr_input_for @object, 'name',       {guess: {order: 1}}
  - tr_input_for @object, 'name',       {guess: {order: 2}}
  - tr_input_for @object, 'identities', {guess: {order: 'caen'}}
  - tr_input_for @object, 'identities', {guess: {order: 'chambcom'}}
  - tr_input_for @object, 'identities', {guess: {order: 'fiscal'}}
  - tr_input_for @object, 'identities', {guess: {order: 'account'}}
  - tr_input_for @object, 'identities', {guess: {order: 'itm'}}
  - tr_input_for @object, 'identities', {guess: {order: 'internet'}}
  - tr_input_for @object, 'identities', {guess: {order: 'cod'}}
  - tr_input_for @object, 'contact',    {guess: {order: 'phone'}}
  - tr_input_for @object, 'contact',    {guess: {order: 'fax'}}
  - tr_input_for @object, 'contact',    {guess: {order: 'email'}}
  - tr_input_for @object, 'contact',    {guess: {order: 'website'}}
  %tr
    - td_label_for @object, 'client'
    %td.boolean
      %input.true_ro{ type: 'radio',name: "[#{@path}][client]",checked: @object.client,value: 'true'}
      %input.false_ro{type: 'radio',name: "[#{@path}][client]",checked: !@object.client,value: 'false'}
    - td_error_for @object, 'client'
  %tr
    - td_label_for @object, 'supplr'
    %td.boolean
      %input.true_ro{ type: 'radio',name: "[#{@path}][supplr]",checked: @object.supplr,value: 'true'}
      %input.false_ro{type: 'radio',name: "[#{@path}][supplr]",checked: !@object.supplr,value: 'false'}
    - td_error_for @object, 'supplr'
  %tr
    - td_label_for @object, 'transp'
    %td.boolean
      %input.true_ro{ type: 'radio',name: "[#{@path}][transp]",checked: @object.transp,value: 'true'}
      %input.false_ro{type: 'radio',name: "[#{@path}][transp]",checked: !@object.transp,value: 'false'}
    - td_error_for @object, 'transp'
  %tr
    - td_label_for @object, 'p03'
    %td.boolean
      %input.true_ro{ type: 'radio',name: "[#{@path}][p03]",checked: @object.p03,value: 'true'}
      %input.false_ro{type: 'radio',name: "[#{@path}][p03]",checked: !@object.p03,value: 'false'}
    - td_error_for @object, 'p03'
%tbody#tabs-2{data: {title: mat(@object, :tab_notes_title)}}
  %tr
    %td
      %detail.detail.w-35rem
        %i.fa.fa-info-circle.fa-lg.blue
        = mat(@object,'tab_notes_content')
