:ruby
  fid = params[:client]
  firm= Wstm::PartnerFirm.find(fid)
  dlns= firm.try(:dlns_client)
  dlns= (m == 0 ? dlns.yearly(y) : dlns.monthly(y,m)) if dlns
  dlns= (params[:p03] == 'null' ? dlns : dlns.by_p03(params[:p03].to_bool)) if dlns
  doc_ary = params[:doc_ary].try(:split, ',')
%span#hidden_data{data: {dialog: "query",title_data: 'Clienți',model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_partner_firm'}}
%p.small
  %input.param{type: 'hidden',name: 'query_client', value: 'true'}
  %input.param.doc_ary{type: 'hidden',name: 'doc_ary', value: params[:doc_ary]}
  %select.param.firm{name: 'client'}
    %option{value: 0, selected: m == 0}= 'Alegeți clientul!'
    - if m == 0
      - Wstm::PartnerFirm.asc(:name).find(Wstm::DeliveryNote.yearly(y).nonin.pluck(:client_id).uniq).each do |f|
        %option{value: f.id, selected: firm.try(:id) == f.id}= f.name[0]
    - else
      - Wstm::PartnerFirm.asc(:name).find(Wstm::DeliveryNote.monthly(y,m).nonin.pluck(:client_id).uniq).each do |f|
        %option{value: f.id, selected: firm.try(:id) == f.id}= f.name[0]
  %select.param{name: 'y'}
    - (2012..Date.today.year).each do |year|
      %option{value: year, selected: y == year}= year
  %select.param{name: 'm'}
    %option{value: 0, selected: m == 0}= 'Tot anul'
    - t('month')[1..12].each_with_index do |month,i|
      %option{value: i + 1, selected: m == i + 1}= month
  %select.param{name: 'p03'}
    - mat(@object,'p03_select').each do |o|
      %option{value: o[0], selected: o[0] == params[:p03]}= o[1]
- unless dlns.try(:count) == 0 || dlns.try(:count).nil?
  %table.w-100pr
    %thead
      %tr.pdb-05
        %td
          %span= firm.name[2] + ' ( ' + dlns.count.to_s + ' )'
          %button{type: 'button',data: {action: "toggle_checkbox", icon: 'fa fa-check-circle'}}= 'Toate'
      %tr.pdb-05
        %td
          %span.doc-ary-name
            - l = dlns.pluck(:doc_name).max_by(&:length).length; dlns.each_with_index do |dln,i|
              %label.doc-name-list.doc-ary-name{style: "background-color:#{dln.charged? ? '#e6e6e6' : '#ff9999'}; min-width: #{l}rem",title: "#{dln.freights_list.join("\n")}"}
                %input.doc_ary{id:dln.id,type: 'checkbox',checked: doc_ary.include?(dln.id.to_s)}
                = dln.doc_name.rjust(l,"\u00a0")
    %tbody
      - unless doc_ary.empty?
        %tr
          %td
            %table.inner.w-80pr
              %tbody.inner
                %tr
                  - mat(@object,'table_header_inv').each do |label|
                    %td
                      %span= label
                - data = dlns.where(:id.in => doc_ary).sum_freights_inv; data.sort.each do |s|
                  %tr
                    %td
                      %span= s[1][0]
                    %td
                      %span.um kg
                    %td.ta-ce
                      %span= "%.2f" % s[1][2]
                    %td.ta-ri
                      %span= "%.2f" % s[1][3]
                    %td.ta-ri
                      %span= "%.4f" % s[1][4]
                    %td.ta-ri
                      %span= "%.2f" % s[1][5]
                %tr.result
                  %td{:colspan => "2"}= "Total"
                  %td
                    %span= "%.2f" % data.values.sum{|r| r[2]}
                  %td
                    %span= "%.2f" % data.values.sum{|r| r[3]}
                  %td
                    %span
                  %td
                    %span= "%.2f" % data.values.sum{|r| r[5]}
    %tfoot
      %tr
        - td_buttonset(['cancel'],{style: 'ta-ce'})
