%tbody{id: 'tabs-firm',style: 'min-width:380px',data: {title: mat(@object, :tab_title)}}
  - tr_show_for @object, 'id'
  - tr_show_for @object, 'name',      {guess: {order: 0}}
  - tr_show_for @object, 'name',      {guess: {order: 1}}
  - tr_show_for @object, 'name',      {guess: {order: 2}}
  - tr_show_for @object, 'identities',{guess: {order: 'caen'}}
  - tr_show_for @object, 'identities',{guess: {order: 'chambcom'}}
  - tr_show_for @object, 'identities',{guess: {order: 'fiscal'}}
  - tr_show_for @object, 'identities',{guess: {order: 'account'}}
  - tr_show_for @object, 'identities',{guess: {order: 'itm'}}
  - tr_show_for @object, 'identities',{guess: {order: 'internet'}}
  - tr_show_for @object, 'identities',{guess: {order: 'cod'}}
  - tr_show_for @object, 'contact',   {guess: {order: 'phone'}}
  - tr_show_for @object, 'contact',   {guess: {order: 'fax'}}
  - tr_show_for @object, 'contact',   {guess: {order: 'email'}}
  - tr_show_for @object, 'contact',   {guess: {order: 'website'}}
  - tr_show_for @object, 'created_at'
  - tr_show_for @object, 'updated_at'
- if @object.addresses.empty?
  %tbody{id: "tabs-addresses",data: {title: "#{mat(@object,'tab_addresses_title')}"}}
    %tr{class: 'pdb-05'}
      - td_detail_for 'detail',mat(@object,'tab_addresses_not_exists'),nil,2
    %tr
      %td
        %span= mat(@object,'tab_addresses_create')
      %td
        %button{type: "button",title: "#{t('button.create')}",data: {url: "/sys/#{@path}/address",r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 1,r_mdl: 'firm',action: "create",text: 'hidden',  icon: "fa fa-only fa-plus-square-o"}}
- else
  %tbody{id: "tabs-addresses",data: {title: "#{mat(@object,'tab_addresses_title')}"}}
    %tr{class: 'pdb-05'}
      - td_detail_for 'detail',mat(@object,'tab_addresses_exists'),nil,2
    - @object.addresses.each do |o|
      %tr
        %td{class: 'ui-state-default'}
          %span= o.name
        %td{class: 'buttonset fs-0.9rem'}
          %button{type: "button",title: "#{t('button.show')}",  data: {url: "/sys/#{@path}/address",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 1,r_mdl: 'firm',action: "show",text: 'hidden',  icon: "fa fa-only fa-file-text-o"}}
          %button{type: "button",title: "#{t('button.edit')}",  data: {url: "/sys/#{@path}/address",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 1,r_mdl: 'firm',action: "edit",text: 'hidden',  icon: "fa fa-only fa-edit"}}
          %button{type: "button",title: "#{t('button.delete')}",data: {url: "/sys/#{@path}/address",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 1,r_mdl: 'firm',action: "delete",text: 'hidden',icon: "fa fa-only fa-minus-square-o red"}}
    %tr
      %td
        %span= mat(@object,'tab_addresses_create')
      %td{class: 'buttonset fs-0.9rem'}
        %button{type: "button",title: "#{t('button.create')}",data: {url: "/sys/#{@path}/address",r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 1,r_mdl: 'firm',action: "create",text: 'hidden',  icon: "fa fa-only fa-plus-square-o"}}
- if @object.people.empty?
  %tbody{id: "tabs-people",data: {title: "#{mat(@object,'tab_people_title')}"}}
    %tr{class: 'pdb-05'}
      - td_detail_for 'detail',mat(@object,'tab_people_not_exists'),nil,2
    %tr
      %td
        %span= mat(@object,'tab_people_create')
      %td{class: 'buttonset fs-0.9rem'}
        %button{type: "button",title: "#{t('button.create')}",data: {url: "/sys/#{@path}/person",r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 2,r_mdl: 'firm',action: "create",text: 'hidden',  icon: "fa fa-only fa-plus-square-o"}}
- else
  %tbody{id: "tabs-people",data: {title: "#{mat(@object,'tab_people_title')}"}}
    %tr{class: 'pdb-05'}
      - td_detail_for 'detail',mat(@object,'tab_people_exists'),nil,2
    - @object.people.asc(:role).each do |o|
      %tr
        %td{class: 'ui-state-default'}
          %span= o.name
        %td{class: 'buttonset fs-0.9rem'}
          %button{type: "button",title: "#{t('button.show')}",  data: {url: "/sys/#{@path}/person",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 2,r_mdl: 'firm',action: "show",text: 'hidden',  icon: "fa fa-only fa-file-text-o"}}
          %button{type: "button",title: "#{t('button.edit')}",  data: {url: "/sys/#{@path}/person",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 2,r_mdl: 'firm',action: "edit",text: 'hidden',  icon: "fa fa-only fa-edit"}}
          %button{type: "button",title: "#{t('button.delete')}",data: {url: "/sys/#{@path}/person",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 2,r_mdl: 'firm',action: "delete",text: 'hidden',icon: "fa fa-only fa-minus-square-o red"}}
    %tr
      %td
        %span= mat(@object,'tab_people_create')
      %td{class: 'buttonset fs-0.9rem'}
        %button{type: "button",title: "#{t('button.create')}",data: {url: "/sys/#{@path}/person",r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 2,r_mdl: 'firm',action: "create",text: 'hidden',  icon: "fa fa-only fa-plus-square-o"}}
- if @object.units.empty?
  %tbody{id: "tabs-units",data: {title: "#{mat(@object,'tab_units_title')}"}}
    %tr{class: 'pdb-05'}
      - td_detail_for 'detail',mat(@object,'tab_units_not_exists'),nil,2
    %tr
      %td
        %span= mat(@object,'tab_units_create')
      %td{class: 'buttonset fs-0.9rem'}
        %button{type: "button",title: "#{t('button.create')}",data: {url: "/sys/#{@path}/unit",r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 3,r_mdl: 'firm',action: "create",text: 'hidden',  icon: "fa fa-only fa-plus-square-o"}}
- else
  %tbody{id: "tabs-units",data: {title: "#{mat(@object,'tab_units_title')}"}}
    %tr{class: 'pdb-05'}
      - td_detail_for 'detail',mat(@object,'tab_units_exists'),nil,2
    - @object.units.asc(:role, :name).each do |o|
      %tr
        %td{class: 'ui-state-default'}
          %span= o.name[1]
        %td{class: 'buttonset fs-0.9rem'}
          %button{type: "button",title: "#{t('button.show')}",  data: {url: "/sys/#{@path}/unit",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 3,r_mdl: 'firm',action: "show",text: 'hidden',  icon: "fa fa-only fa-file-text-o"}}
          %button{type: "button",title: "#{t('button.edit')}",  data: {url: "/sys/#{@path}/unit",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 3,r_mdl: 'firm',action: "edit",text: 'hidden',  icon: "fa fa-only fa-edit"}}
          %button{type: "button",title: "#{t('button.delete')}",data: {url: "/sys/#{@path}/unit",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 3,r_mdl: 'firm',action: "delete",text: 'hidden',icon: "fa fa-only fa-minus-square-o red"}}
    %tr
      %td
        %span= mat(@object,'tab_units_create')
      %td{class: 'buttonset fs-0.9rem'}
        %button{type: "button",title: "#{t('button.create')}",data: {url: "/sys/#{@path}/unit",r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 3,r_mdl: 'firm',action: "create",text: 'hidden',  icon: "fa fa-only fa-plus-square-o"}}
- if @object.banks.empty?
  %tbody{id: "tabs-banks",data: {title: "#{mat(@object,'tab_banks_title')}"}}
    %tr{class: 'pdb-05'}
      - td_detail_for 'detail',mat(@object,'tab_banks_not_exists'),nil,2
    %tr
      %td
        %span= mat(@object,'tab_banks_create')
      %td{class: 'buttonset fs-0.9rem'}
        %button{type: "button",title: "#{t('button.create')}",data: {url: "/sys/#{@path}/bank",r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 4,r_mdl: 'firm',action: "create",text: 'hidden',  icon: "fa fa-only fa-plus-square-o"}}
- else
  %tbody{id: "tabs-banks",data: {title: "#{mat(@object,'tab_banks_title')}"}}
    %tr{class: 'pdb-05'}
      - td_detail_for 'detail',mat(@object,'tab_banks_exists'),nil,2
    - @object.banks.asc(:name).each do |o|
      %tr
        %td{class: 'ui-state-default'}
          %span= o.name
        %td{class: 'buttonset fs-0.9rem'}
          %button{type: "button",title: "#{t('button.show')}",  data: {url: "/sys/#{@path}/bank",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 4,r_mdl: 'firm',action: "show",text: 'hidden',  icon: "fa fa-only fa-file-text-o"}}
          %button{type: "button",title: "#{t('button.edit')}",  data: {url: "/sys/#{@path}/bank",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 4,r_mdl: 'firm',action: "edit",text: 'hidden',  icon: "fa fa-only fa-edit"}}
          %button{type: "button",title: "#{t('button.delete')}",data: {url: "/sys/#{@path}/bank",oid: o.id,r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 4,r_mdl: 'firm',action: "delete",text: 'hidden',icon: "fa fa-only fa-minus-square-o red"}}
    %tr
      %td
        %span= mat(@object,'tab_banks_create')
      %td{class: 'buttonset fs-0.9rem'}
        %button{type: "button",title: "#{t('button.create')}",data: {url: "/sys/#{@path}/bank",r_id: @object.id,r_path: "/sys/#{@path}/#{@object.id}",tab: 4,r_mdl: 'firm',action: "create",text: 'hidden',  icon: "fa fa-only fa-plus-square-o"}}
