:ruby
  forbidden = @object.id_date != Date.today.end_of_month.tomorrow
- if forbidden
  - xhr_hidden_data({dialog: 'delete',js_ext: 'desk_stock'})
  %form{action: "/sys/#{@path}", method: "delete"}
    %table
      %thead
        %tr{class: 'pdb-05'}
          - td_detail_for 'warning w-35rem',t('intro.delete.desk_stock.forbidden',data: mat(@object,'model_name'))
        %tr{class: 'pdb-05'}
          %td
            - label_for @object, 'name',    {tag: {class: 'strip'}}
            - value_for @object, 'name'
            - label_for @object, 'id_date', {tag: {class: 'strip'}}
            - value_for @object, 'id_date'
        %tr{class: 'pdb-05'}
          %td
            - value_for @object, 'expl',    {tag: {class: 'strip st'}}
      %tbody
        %tr
          %td
            = haml :"/#{@path}/_show"
      %tfoot{class: 'ta-ce'}
        - tr_buttonset ['cancel']
- else
  - xhr_hidden_data({dialog: 'delete',js_ext: 'desk_stock'})
  %form{action: "/sys/#{@path}", method: "delete"}
    %table
      %thead
        %tr{class: 'pdb-05'}
          %td
            - label_for @object, 'name',    {tag: {class: 'strip'}}
            - value_for @object, 'name'
            - label_for @object, 'id_date', {tag: {class: 'strip'}}
            - value_for @object, 'id_date'
        %tr{class: 'pdb-05'}
          %td
            - value_for @object, 'expl',    {tag: {class: 'strip st'}}
      %tbody
        %tr
          %td
            = haml :"/#{@path}/_show"
      %tfoot{class: 'ta-ce'}
        - tr_buttonset ['delete','cancel']
