:ruby
  forbidden = @object.id_date != Date.new(2000,1,31)
- xhr_hidden_data({dialog: "edit",oid: @object.id,js_ext: 'desk_stock'})
- if forbidden
  %table
    %thead
      %tr{class: 'pdb-05'}
        - td_detail_for 'warning w-35rem', t('intro.edit.desk_stock.forbidden')
      %tr{class: 'pdb-05'}
        %td
          - label_for @object, 'name'
          - value_for @object, 'name'
          - label_for @object, 'id_date'
          - value_for @object, 'id_date', {tag: {value: @object.id_date.to_s}}
          - input_for @object, 'id_date', {tag: {type: 'hidden',value: @object.id_date.to_s}}
      %tr{class: 'pdb-05'}
        - td_value_for @object, 'expl'
    %tbody
      %tr
        %td
          = haml :"#{@path}/_show"
    %tfoot{class: 'ta-ce'}
      - tr_buttonset ['cancel']
- else
  %form{action: "/sys/#{@path}", method: "put"}
    %table
      %thead
        %tr{class: 'pdb-05'}
          %td
            - label_for @object, 'name'
            - value_for @object, 'name'
            - label_for @object, 'id_date'
            - value_for @object, 'id_date', {tag: {value: @object.id_date.to_s}}
            - input_for @object, 'id_date', {tag: {type: 'hidden',value: @object.id_date.to_s}}
        %tr{class: 'pdb-05'}
          - td_value_for @object, 'expl'
      %tbody
        %tr
          %td
            = haml :"#{@path}/_form"
      %tfoot{class: 'ta-ce'}
        - tr_buttonset ['save','cancel']
