-if @uid
  - xhr_hidden_data({dialog: 'filter',oid: 'null',js_ext: 'desk_sorting'})
  - xhr_info('info',t("intro.filter.main",data: model_name))
  - unless @current_user.unit_id
    = haml :'wstm/shared/_select_unit'
  %form{action: "/sys/#{@path}",method: "get"}
    %table
      %thead
      %tbody
        %tr{class: 'pdb-05'}
          %td
            %select{id: 'oid'}
              %option{value: "null"}= t("select.option",data: mat(@object,'model_name'))
              - @object.by_unit_id(@uid).default_sort.each do |o|
                %option{value: o.view_filter.first}= o.view_filter.last
      %tfoot{class: 'ta-ce'}
        - tr_buttonset ['create','show','delete','cancel']
-else
  - xhr_hidden_data({dialog: 'filter',oid: 'null',js_ext: 'desk_sorting'})
  = haml :'wstm/shared/_select_unit'
