:ruby
  unit_id = @current_user.unit_id || session[:unit_id]
%span#hidden_data{data: {dialog: "filter",model_name: mat(@object,'model_name'),oid: 'null',js_ext: 'desk_freight'}}
-if unit_id
  - unless @current_user.unit_id
    = partial 'wstm/shared/select_unit'
  %form{action: "/sys/#{@path}",method: "get"}
    %table
      %tbody
        %tr.pdb-05
          %td
            - if @current_user.admin?
              %span.info.info.width-400.ju= t("intro.filter.main",data: mat(@object,'model_name'))
            - else
              %span.info.info.width-300.ju= t("intro.filter.desk_freight",data: mat(@object,'model_name'))
        %tr.pdb-05
          %td
            %select#oid
              %option{value: "null"}= t("select.option",data: mat(@object,'model_name'))
              - @object.where(unit_id: unit_id).default_sort.each do |o|
                %option{value: o.view_filter.first}= o.view_filter.last
      %tfoot
        %tr
          - if @current_user.admin?
            - td_buttonset(['create','show','edit','delete','cancel'],{style: 'ta-ce'})
          - else
            - td_buttonset(['show','edit','cancel'],{style: 'ta-ce'})
-else
  = partial 'wstm/shared/select_unit'
