:ruby
  today = Date.today;   cols = 0
  y   = params[:y].nil? ? today.year  : params[:y].to_i
  m   = params[:m].nil? ? today.month : params[:m].to_i
  d   = params[:d].nil? ? 0 : params[:d].to_i
  uid = @current_user.unit_id ? @current_user.unit_id : params[:uid] == 'null' ? nil : params[:uid]
  firm= Wstm::PartnerFirm.find_by(firm: :true); unit= firm.units.find(uid) if uid
  data= uid ? unit.name[1] : firm.name[2]
  sum_strt,sum_ins,sum_outs,sum_stks = 0,0,0,0
%span#hidden_data.hidden{data: {dialog: "query_value",title_data: data,model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_freight'}}
- if uid
  %div.small
    %p.noFreight
      %select#y
        - [2011,2012,2013].each do |year|
          %option{value: year, selected: y == year}= year
      %select#m
        - t('month')[1..12].each_with_index do |month,i|
          %option{value: i + 1, selected: m == i + 1}= month
      - if @current_user.unit_id
        %span= l(today, format: :trst) if m == today.month
      - else
        %select#d{style: 'font-family:Courier'}
          - (0..Time.days_in_month(m,y)).each do |day|
            %option{value: day, selected: d == day}= l(Date.new(y,m,day), format: "%a, %Y-%m-%d") rescue 'Intrări zilnice'
        %select#u
          %option{value: 'null'} Toate unităţile
          - firm.units.asc(:slug).each do |pos|
            %option{value: pos.id, selected: uid.to_s == pos.id.to_s}= pos.name[1]
  %table.scroll{:cellspacing => "0"}
    %tbody.inner
      %tr.scroll
        - mat(@object,'table_all_with_pu').each do |cn|; cols += 1
          %td
            %span.stats.ce= cn
        - if d > 0 && @current_user.unit_id.nil?; cols += 2
          %td
            %span.stats.ce PU
          %td
            %span.stats.ce= Date.new(y,m,d).to_s
      - unit.freights.stats_pos_with_pu(y,m).each do |st|
        - last_pu = Wstm::FreightIn.where(freight_id: st[0]).asc(:id_date).monthly(y,m).last.try(:pu)
        %tr
          %td
            - id = st.shift
            %span.stats.link{id: id}= st.shift
          - key = st.shift; fpu = key.split('_')[1].to_f; check = (st[3] - st.pop).round(2)
          - sum_strt += (fpu * st[0]).round(2); sum_ins += (fpu * st[1]).round(2); sum_outs += (fpu * st[2]).round(2); sum_stks += (fpu * st[3]).round(2)
          %td{style: st[1] != 0 ? last_pu == fpu ? 'color:red' : 'color:green' : nil}
            %span.stats.ri= "%0.2f" % fpu
          %td
            %span.stats.ri= "%0.2f" % st[0]
          %td
            %span.stats.ri= "%0.2f" % (fpu * st[0])
          %td
            %span.stats.ri= "%0.2f" % st[1]
          %td
            %span.stats.ri= "%0.2f" % (fpu * st[1])
          %td
            %span.stats.ri= "%0.2f" % st[2]
          %td
            %span.stats.ri= "%0.2f" % (fpu * st[2])
          %td{style: (check != 0) && 'color:red',title: (check != 0) && "Diferenţă: #{"%0.2f" % check} kg"}
            %span.stats.ri= "%0.2f" % st[3]
          %td
            %span.stats.ri= "%0.2f" % (fpu * st[3])
          - if d > 0 && @current_user.unit_id.nil?
            %td{style: st[1] != 0 ? last_pu == fpu ? 'color:red' : 'color:green' : nil}
              %span.stats.ri= "%0.2f" % fpu
            - ins = Wstm::Freight.find(id).ins.nonin.daily(y,m,d).where(pu: fpu).sum(:qu)
            %td
              %span.stats.ri= "%0.2f" % ins
      %tr.total
        %td{colspan: '2'}
          %span.name.ce Total
        %td{colspan: '2'}
          %span.val.ri= "%0.2f" % sum_strt
        %td{colspan: '2'}
          %span.val.ri= "%0.2f" % sum_ins
        %td{colspan: '2'}
          %span.val.ri= "%0.2f" % sum_outs
        %td{colspan: '2'}
          %span.val.ri= "%0.2f" % sum_stks
        - if d > 0 && @current_user.unit_id.nil?
          %td{colspan: '2'}
            %span= " "
- else
  %div.small
    %p.noFreight
      %select#y
        - [2011,2012,2013].each do |year|
          %option{value: year, selected: y == year}= year
      %select#m
        - t('month')[1..12].each_with_index do |month,i|
          %option{value: i + 1, selected: m == i + 1}= month
      %select#u
        %option{value: 'null'} Toate unităţile
        - firm.units.asc(:slug).each do |pos|
          %option{value: pos.id, selected: uid.to_s == pos.id.to_s}= pos.name[1]
    %span.info.width-450.ju= t('intro.query_value.desk_freight.all')
