%td.query-freights-container
  - unless sa.blank?
    %table{style: "width:80%;margin:auto;min-width:550px"}
      %tbody.inner
        %tr
          - mat(Wstm::Expenditure,'table_header')[0..-2].each do |label|
            %td
              %span= label
        - data = sa.where(:id.in => doc_ary).sum_freights_exp; data.sort.each do |s|
          %tr
            %td
              %span.stats= s[1][0]
            %td
              %span.um kg
            %td
              %span.pu= "%.2f" % (s[1][4] / s[1][3]).round(2)
            %td
              %span.qu= "%.2f" % s[1][3]
            %td
              %span.val= "%.2f" % s[1][4]
            %td
              - p003 = s[1][5] ? (s[1][4] * 0.03).round(2) : 0
              %span.val= "%.2f" % p003
            %td
              - p016 = (s[1][4] * 0.16).round(2)
              %span.val= "%.2f" % p016
            %td
              %span.val= "%.2f" % (s[1][4] - p003 - p016).round(2)
        %tr.result
          %td.ce.st{:colspan => "3"}= "Total"
          %td
            %span.val= "%.2f" % data.values.sum{|r| r[3]}
          %td
            %span.val= "%.2f" % sa.where(:id.in => doc_ary).sum(:sum_100)
          %td
            %span.val= "%.2f" % sa.where(:id.in => doc_ary).sum(:sum_003)
          %td
            %span.val= "%.2f" % sa.where(:id.in => doc_ary).sum(:sum_016)
          %td
            %span.val= "%.2f" % sa.where(:id.in => doc_ary).sum(:sum_out)
  - else
    %detail.detail.w-30rem
      %i.fa.fa-info-circle.fa-lg.blue
      = t('intro.query.desk_partner_person.exp_noe')
