%span#hidden_data{data: {dialog: "show",model_name: mat(@object,'model_name'),oid: @object.id}}
%form{action: "/sys/#{@path}", method: "get"}
  %table
    %thead
      %tr.pdb-05
        %td{colspan: "2"}
    = partial "#{@path}/show"
    %tfoot
      %tr
        %td.buttonset.ta-ce{colspan: "2"}
          - if session[:r_path]
            %button{type: "button",data: {url: "#{session[:r_path].gsub('!','/')}?client_id=#{@object.id}",r_path: 'remove',action: "create", icon: "fa fa-plus-square-o"}}= t('button.create') + " APP!"
            %button{type: "button",data: {action: "edit",icon: "fa fa-floppy-o",remove: 'false'}}= t('button.edit')
          - else
            %button{type: "button",data: {action: "create",icon: "fa fa-plus-square-o"}}= t('button.create')
            %button{type: "button",data: {action: "edit",icon: "fa fa-floppy-o",remove: 'false'}}= t('button.edit')
          - if session[:r_path] || @current_user.admin?
            %button{type: "button",data: {action: "delete",icon: "fa fa-minus-square-o",remove: 'false'}}= t('button.delete')
          %button{type: "button",data: {action: "cancel",icon: "fa fa-ban"}}= t('button.cancel')
