:ruby
  ext  = params[:report]
  uid  = @current_user.unit_id
  unit = Wstm::PartnerFirm.unit_by_unit_id(uid) if uid
  firm = Wstm::PartnerFirm.find_by(firm: true) unless uid
  s2dt = firm.units.asc(:slug).map{|u| {id: u.id.to_s,text: u.slug}}.to_json if firm
  data = t("intro.filter.desk_report.#{ext}")

- xhr_hidden_data({dialog: 'report',title_data: data,model_name: mat(@object,'model_name'),oid: nil})
- if ['cdd','grn','all'].include? ext
  %form{action: "/sys/wstm/report/print?rb=unit_daily_exp&ext=#{ext}"}
    %table
      %thead
        %tr.pdb-05
          %td{colspan: "2"}
            - if uid
              %detail{class: 'info w-30rem'}
                %i{class: 'fa fa-info-circle fa-lg blue'}
                = t("intro.filter.desk_report.unit",data: data,unit: unit.name[1])
            - else
              %detail{class: 'info w-35rem'}
                %i{class: 'fa fa-info-circle fa-lg blue'}
                = t("intro.filter.desk_report.firm",data: data)
      %tbody
        %tr.pdb-05
          %td
            %label Alegeţi data:
            - if uid
              %input{type: 'text',id: 'date_show',name: 'date_show',value: l(Date.today, format: :trst),class: 'ui-state-default ce',style: 'width:auto'}
              %input{type: 'hidden',id: 'date_send',name: 'date',value: Date.today.to_s}
              %input{type: 'hidden',name: 'unit_ids',value: uid}
              %input{type: 'hidden',name: 'period',value: '1',autofocus: true}
              %input{type: 'hidden',name: 'fn',value: t("intro.pdf.desk_report.file_name.#{ext}", firm: unit.firm.name[0][0..2].upcase, unit: "_#{unit.slug}")}
            - else
              %input{type: 'text',id: 'date_show',name: 'date_show',value: l(Date.today, format: :trst),class: 'ui-state-default ce',style: 'width:auto'}
              %input{type: 'hidden',id: 'date_send',name: 'date',value: Date.today.to_s}
              %input{type: 'text',name: 'period',value: 1,class:'ui-state-default ce',size: 3,autofocus: true,style: 'text-align:center'}
              %input{type: 'hidden',name: 'fn',value: t("intro.pdf.desk_report.file_name.#{ext}", firm: firm.name[0][0..2].upcase, unit: "_PCTE")}
        - unless uid
          %tr.pdb-05
            %td
              %input{type: 'hidden',id: 'unit_ids',name: 'unit_ids',style: 'width:300px',data: {data: s2dt}}
      %tfoot
        %tr.pdb-05
          - td_buttonset ['print','cancel'], {td: {class: 'ta-ce'}}
- elsif ext == 'plst'
  %form{action: "/sys/wstm/report/print?rb=unit_plst"}
    %table
      %thead
        %tr.pdb-05
          %td{colspan: "2"}
            - if uid
              %detail{class: 'info w-30rem'}
                %i{class: 'fa fa-info-circle fa-lg blue'}
                = t("intro.filter.desk_report.unit_plst",data: data,unit: unit.name[1])
            - else
              %detail{class: 'info w-35rem'}
                %i{class: 'fa fa-info-circle fa-lg blue'}
                = t("intro.filter.desk_report.firm_plst",data: data)
      %tbody
        %tr.pdb-05
          %td{colspan: '2'}
            - if uid
              %input{type: 'hidden',name: 'unit_ids',value: uid}
              %input{type: 'hidden',name: 'fn',value: t("intro.pdf.desk_report.file_name.#{ext}", firm: unit.firm.name[0][0..2].upcase, unit: "_#{unit.slug}")}
            - else
              %input{type: 'hidden',id: 'unit_ids',name: 'unit_ids',style: 'width:300px',data: {data: s2dt}}
              %input{type: 'hidden',name: 'fn',value: t("intro.pdf.desk_report.file_name.#{ext}", firm: firm.name[0][0..2].upcase, unit: "_PCTE")}
      %tfoot
        %tr.pdb-05
          - td_buttonset ['print','cancel'], {td: {class: 'ta-ce'}}
- elsif ext == 'cb_monthly'
  %form{action: "/sys/wstm/report/print?rb=#{ext}"}
    %table
      %thead
        %tr.pdb-05
          %td
            %detail{class: 'info w-20rem'}
              %i{class: 'fa fa-info-circle fa-lg blue'}
              = t("intro.filter.desk_report.#{ext}")
      %tbody
        %tr.pdb-05
          %td
            %label Alegeţi luna:
            %input{id: 'date_send',name: 'date',value: l(Date.today,format: '%Y-%m')}
            %input{type: 'hidden',name: 'fn',value: "#{firm.name[0][0..2].upcase}_RC-"}
      %tfoot
        %tr.pdb-05
          - td_buttonset ['print','cancel'], {td: {class: 'ta-ce'}}
- else
  - type = ext.split('_')[1]
  %form{action: "/sys/wstm/report/print?rb=#{ext}"}
    %table
      %thead
        %tr.pdb-05
          %td
            %detail{class: 'info w-30rem'}
              %i{class: 'fa fa-info-circle fa-lg blue'}
              = t("intro.filter.desk_report.#{type}",data: data)
      %tbody
        %tr.pdb-05
          %td
            %label Alegeţi luna:
            %input#date_send.ui-state-default.ce{name: 'date',value: l(Date.today,format: '%Y-%m')}
        - if type == 'stats'
          %tr.pdb-05
            %td{colspan: '2'}
              %input#unit_ids.ui-state-default{type: 'hidden',name: 'unit_ids',style: 'width:300px',data: {data: s2dt}}
              %input#file_name{type: 'hidden',name: 'fn',value: t("intro.pdf.desk_report.file_name.#{ext}", firm: firm.name[0][0..2].upcase, unit: "_DORU")}
        - else
          %input#file_name{type: 'hidden',name: 'fn',value: t("intro.pdf.desk_report.file_name.#{ext}", firm: firm.name[0][0..2].upcase, unit: "_CONTA")}
      %tfoot
        %tr
          - td_buttonset ['print','cancel'], {td: {class: 'ta-ce'}}
