- @object.reload
- if @object.freights.count > 0
  %tbody.inner
    %tr
      - mat(@object,'table_header_show').each do |label|
        %td
          %span= label
    - @object.reload; @object.freights.each do |o|
      %tr
        - td_value_for  o, 'freight',   {order: 'name',style: 'name',nested: 'doc_dln'}
        - td_value_for  o, 'um',        {style: 'um ta-ce', nested: 'doc_dln'}
        - td_value_for  o, 'pu',        {style: 'pu ta-ri', nested: 'doc_dln'}
        - td_value_for  o, 'qu',        {style: 'val ta-ri',nested: 'doc_dln'}
        - td_value_for  o, 'val',       {style: 'val ta-ri',nested: 'doc_dln'}
        %td
          %span.ta-ri= "%.2f" % o.freight.stock_by_key(o.freight.key(o.pu))
    %tr
      %td{colspan: '3'}
        %span Total
      %td
        %span= "%.2f" % @object.freights.sum(:qu)
      %td
        %span= "%.2f" % @object.freights.sum(:val)
      %td
        %span &nbsp;
- else
  %tbody
    %tr.pdb-05
      %td
        %detail.warning.w-45rem
          %i.fa.fa-info-circle.fa-lg.blue
          = t('msg.no_freight_selected')
