:ruby
  unit_id = @current_user.unit_id.nil? ? session[:unit_id] : @current_user.unit_id
%span#hidden_data.hidden{data: {dialog: "filter",model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_delivery_note'}}
-if unit_id
  - unless @current_user.unit_id
    = partial 'wstm/shared/select_unit'
  %form{action: "/sys/#{@path}", method: "get"}
    %table{cellspacing: "0"}
      %tbody
        %tr
          %td
            %span.info.width-550.ju= t("intro.filter.desk_delivery_note", data: mat(@object,'model_name'))
        %tr
          %td
            %input#client_id.select2{type: 'hidden', style: 'width:200px', data: {minlength: 2,ph: 0,search: 'Wstm::PartnerFirm',noinit: 'true'}}
            %input#client_d_id.select2{type: 'hidden', style: 'width:200px', data: {minlength: 0,ph: 1,search: 'Wstm::PartnerFirmPerson',noinit: 'true'}}
            %button#client_d{type: "button", data: {action: "create", icon: "circle-plus"}}=  t('button.create') + " Delegat!"
        %tr
          %td
            %input#transp_id.select2{type: 'hidden', style: 'width:200px', data: {minlength: 2,ph: 2,search: 'Wstm::PartnerFirm',noinit: 'true'}}
            %input#transp_d_id.select2{type: 'hidden', style: 'width:200px', data: {minlength: 0,ph: 3,search: 'Wstm::PartnerFirmPerson',noinit: 'true'}}
            %button#transp_d{type: "button", data: {action: "create", icon: "circle-plus"}}=  t('button.create') + " Delegat!"
      %tfoot
        %tr
          %td.buttonset.ce
            %button.dn{type: "button", data: {action: "create", icon: "circle-plus"}}=  t('button.create') + " Anexa3!"
            %button{type: "button", data: {action: "cancel", icon: "circle-close"}}= t('button.cancel')
-else
  %form{action: "/sys/#{@path}", method: "get"}
    = partial 'wstm/shared/select_unit'
