- xhr_hidden_data({dialog: 'create',oid: 'null',js_ext: 'desk_cassation'})
- xhr_info('info',t('intro.create.main',data: model_name))
%form{action: "/sys/#{@path}",method: "post"}
  %table
    %thead
      %tr{class: 'pdb-05'}
        %td
          - label_for @object, 'name'
          - input_for @object, 'name',      {tag: {data: {mark: 'resize ui-focus'},value: @object.increment_name(@uid)}}
          - label_for @object, 'id_date'
          - input_for @object, 'id_date',   {tag: {id: 'date_show',name: 'strip'}}
          - input_for @object, 'id_date',   {tag: {type: 'hidden',id: 'date_send',value: @object.id_date.to_s}}
          - input_for @object, 'id_intern', {tag: {type: 'hidden',value: 'true'}}
          - input_for @object, 'unit_id',   {tag: {type: 'hidden',value: @uid}}
          - input_for @object, 'signed_by', {tag: {type: 'hidden',value: @current_user.id}}
      %tr{class: 'pdb-05'}
        %td
          - label_for @object, 'expl'
          - input_for @object, 'expl',       {tag: {data: {mark: 'focus ui-focus'},class: 'w-40rem',value: mat(@object,'expl_default')}}
    %tbody
      %tr{class: 'pdb-05'}
        %td{class: 'add-line-container'}
          = haml :"#{@path}/_doc_add_line"
      %tr
        %td
          = haml :"#{@path}/_form"
    %tfoot{class: 'ta-ce'}
      - tr_buttonset ['save','cancel']
